<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="permission.BLUETOOTH_ADVERTISE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_foreground_savee"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projectv2"
        tools:targetApi="31">
        <activity
            android:name=".ExportDataActivity"
            android:exported="false" />
        <activity
            android:name=".Annee"
            android:exported="false" />
        <activity
            android:name=".JourActivity"
            android:exported="false" />
        <activity
            android:name=".chartCarbone"
            android:exported="false"
            android:parentActivityName=".bilancarbone" />
        <activity
            android:name=".ConnexionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreationActivity"
            android:exported="false"
            android:parentActivityName=".ConnexionActivity" />
        <activity
            android:name=".aide"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".maintenance"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".anomalies"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bilancarbone"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".maconso"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:parentActivityName=".ConnexionActivity" />
        <activity
            android:name=".ble.BLEUUIDAttributes"
            android:exported="false" />
        <activity
            android:name=".ble.BleServiceAdapter"
            android:exported="false" />
        <activity
            android:name=".ble.BleService"
            android:exported="false" />
        <activity
            android:name=".ble.DeviceDetailActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ble.BleScanActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ble.BleActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>